<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class= "panel-title"> Add New Flight to Inventory</h3>
    <div class="panel-body">
        <div>
          <label>Flight DepartureCity:</label>
          <br>
          <input #newDepartureCity>
        </div>

        <div>
          <label>Flight ArrivalCity:</label>
          <br>
          <input #newArrivalCity>
        </div>

        <div>
          <label>Flight Date:</label>
          <br>
          <textarea #newDate></textarea>
        </div>
        <button (click)="submitForm(newDepartureCity.value, newArrivalCity.value, newDate.value); newDepartureCity.value=''; newArrivalCity.value=''; newDate.value=''">Add</button>
    </div>
  </div>
</div>
<div>
  <app-flight-list></app-flight-list>
</div>
